@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-space-900 text-white;
    overflow-x: hidden;
  }

  ::selection {
    @apply bg-alien-500 text-white;
  }
}